@import url('https://fonts.googleapis.com/css?family=Muli:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500&display=swap');

body {
    font-family: 'Muli', serif;
    color: #111;
}

code {
  color: #000;
  font-family: "Source Code Pro", monospace;
  -webkit-font-smoothing: antialiased;
}

#loading-spinner {
  visibility: hidden;
}

#loading-spinner.show {
  visibility: visible;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
  body > .container {
    padding: 30px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }
  